@{
    Layout = "~/Views/Shared/_allStatic.cshtml";
}

@model Blogger.ViewModels.UserDetailViewModel
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.PageTitle</title>
</head>

<body>
    <div class="card mr-1">
        <h5 class="card-header">Details</h5>
        <div class="card-body">
            <h5 class="card-title">@Model.user.Name</h5>
            <p class="card-text">My name is @Model.user.Name. My rank is @Model.user.UserID and 
                my Email is @Model.user.Username
            </p>
            <a href="/users/index" class="btn btn-primary">Go Back</a>
        </div>
    </div>

    @* @section Scripts
        {
        <script src="~/js/main.js"></script>
        } *@
</body>

</html>
